.fullPage {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  .image {
    background-image: url("../../../public/Mask\ group.png");
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  .backg {
    background-image: linear-gradient(
      to top,
      rgb(46, 173, 186),
      rgb(240, 253, 250)
    );
    width: 100%;
    height: 100%;
  }

  .container-form {
    position: absolute;
    background-color: white;
    padding: 2rem;
    border-radius: 2rem;
    height: 37rem;
    width: 55rem;
    border-radius: 2rem;
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    justify-items: center;
    align-items: center;
    top: 462px;
    right: 1000px;
    .form {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
    }
  }
}
